.about {
    height: 500px;
    width: 100%;
    background: url(./img/AdobeStock.jpg) no-repeat;
    background-size: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.about__text {
    height: 300px;
    width: 50%;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #fff;
}

.shit__1 {
    display:flex;
    height: 150px;
    width: 70%;
    margin: 100px auto 0px auto;
}


.item__left {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    height: auto;
    width: 100%;
}

.item__right {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: auto;
    height: 100px;
}

.shit__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    width: 70%;
    margin: 0px auto;
}

.table {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin: 0px auto;
    width: 70%;
}

.table__1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
}

.table__1 ul {
    padding-right: 150px;
}

.advantages {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    width: 70%;
    margin: 100px auto;
}

.advantages p{
    padding-bottom: 35px;
}

.items {
    display: flex;
    margin: 0px auto;
    justify-content: space-around;
}

.items__list {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 30px;
    width: 50%;
}

.container__cycle {
    background: url(./img/background6.jpg) no-repeat;
    background-size: 100%;
    height: 985px;
    width: 100%;
}

.container__items {
    width: 70%;
    margin: 0px auto;
    height: 70%;
    justify-content: space-between;
    display: flex;

}

.container__name {
    margin: 0px auto;
    width: 70%;
    height: 100px;
    display: flex;
    padding-top: 50px;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    justify-content: center;
}

.nav__items {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 40%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    }

.nav__1, .nav__2, .nav__3, .nav__4 {
    display: flex;
    padding-right: 30px;
}

.nav__1 img, .nav__2 img, .nav__3 img, .nav__4 img {
    display: flex;
    padding-right: 30px;
}

.form {
    height: 580px;
    width: 440px;
    border: 1px solid #1B6EB8;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    margin: 0px auto;
}

.form h5 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 80%;
    margin: 25px auto;
}

.input__name, .input__phone, .input__email {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    width: 70%;
    height: 70px;
    margin: 20px auto;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.btn {
    display: flex;
    height: 65px;
    width: 70%;
    background: #1B6EB8;
    border-radius: 6px;
    text-align: center;
    align-items: center;
    margin: 10px auto;
    text-decoration: none;
    color: #fff;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    justify-content: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    box-shadow: none;
    border: 0px;
}

.inputs {
    display: flex;
    flex-direction: column;


}

.text__underbtn {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    width: 70%;
    margin: 0px auto;
    display: flex;
}

input::placeholder {
    padding-left: 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #949494;
    letter-spacing: 0.5px;
}

input {
    padding-left: 20px;
}
