.container {
    height: 100%;
    width: 100%;
}

.title {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin: 0px auto;
    width: 100%;
    text-align: center;
}

.price__list {
    width: 70%;
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 100px auto 80px auto;
}

.price__list h5 {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.table {
    margin: 0px 550px;
    justify-content: center;
    width: 70%;
    text-align: center;
    align-items: center;
    align-content: center;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
  }
  caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }
  th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
  }
  td {
    padding: 10px;
  }
  tr:nth-child(odd) {
    background: white;
  }
  tr:nth-child(even) {
    background: #E8E6D1;
  }

  